<?xml version="1.0" encoding="utf-8"?>

<configuration>
	<packageRestore>
		<add key="enabled" value="True" />
		<add key="automatic" value="True" />
	</packageRestore>

	<packageSources>
		<clear />
		<add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
		<add key="EvilBaschdi MyGet" value="https://www.myget.org/F/evilbaschdi/api/v3/index.json" />
		<!--<add key="evilfeed" value="https://pkgs.dev.azure.com/evilbaschdi/_packaging/evilfeed/nuget/v3/index.json" />-->
		<!--<add key="EvilArtifacts" value="https://pkgs.dev.azure.com/evilbaschdi/Public/_packaging/EvilArtifacts/nuget/v3/index.json" />-->
	</packageSources>

	<!-- Define mappings by adding package patterns beneath the target source. -->
	<!-- EvilBaschdi.* packages will be restored from EvilBaschdi MyGet, everything else from nuget.org. -->
	<packageSourceMapping>
		<!-- key value for <packageSource> should match key values from <packageSources> element -->
		<packageSource key="nuget.org">
			<package pattern="*" />
		</packageSource>
		<packageSource key="EvilBaschdi MyGet">
			<package pattern="EvilBaschdi.*" />
			<package pattern="AutoFixture.Xunit3" />
		</packageSource>
		<!--<packageSource key="evilfeed">
			<package pattern="EvilBaschdi.*" />
		</packageSource>
		<packageSource key="feed-evilfeed">
			<package pattern="EvilBaschdi.*" />
		</packageSource>-->
		<!--<packageSource key="EvilArtifacts">
			<package pattern="EvilBaschdi.*" />
		</packageSource>
		<packageSource key="feed-EvilArtifacts">
			<package pattern="EvilBaschdi.*" />
		</packageSource>-->
	</packageSourceMapping>

</configuration>