<?xml version="1.0" encoding="utf-8"?>

<configuration>
	<packageRestore>
		<add key="enabled" value="True" />
		<add key="automatic" value="True" />
	</packageRestore>

	<packageSources>
		<clear />
		<add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
		<add key="EvilBaschdi MyGet" value="https://www.myget.org/F/evilbaschdi/api/v3/index.json" />
		<add key="xUnit MyGet" value="https://www.myget.org/F/xunit/api/v3/index.json" />
		<add key="MahApps.Metro" value="https://ci.appveyor.com/nuget/mahapps.metro" />
	</packageSources>

	<!-- Define mappings by adding package patterns beneath the target source. -->
	<!-- EvilBaschdi.* packages will be restored from EvilBaschdi MyGet, everything else from nuget.org. -->
	<packageSourceMapping>
		<!-- key value for <packageSource> should match key values from <packageSources> element -->
		<packageSource key="nuget.org">
			<package pattern="*" />
		</packageSource>
		<packageSource key="EvilBaschdi MyGet">
			<package pattern="EvilBaschdi.*" />
		</packageSource>
		<packageSource key="xUnit MyGet">
			<package pattern="xunit" />
			<package pattern="xunit.*" />
		</packageSource>
		<packageSource key="MahApps.Metro">
			<package pattern="MahApps.Metro" />
		</packageSource>
	</packageSourceMapping>

</configuration>