<?xml version="1.0" encoding="utf-8"?>

<configuration>
	<packageRestore>
		<add key="enabled" value="True" />
		<add key="automatic" value="True" />
	</packageRestore>
	<activePackageSource>
		<add key="All" value="(Aggregate source)" />
	</activePackageSource>
	<packageSources>
		<add key="EvilBaschdi MyGet" value="https://www.myget.org/F/evilbaschdi/api/v3/index.json" />
		<add key="xUnit MyGet" value="https://www.myget.org/F/xunit/api/v3/index.json" />
		<add key="xUnit Azure Artifacts" value="https://pkgs.dev.azure.com/dotnet/xUnit/_packaging/xUnit/nuget/v3/index.json" />
		<add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
		<add key="AutoFixture MyGet" value="https://www.myget.org/F/autofixture/api/v3/index.json" />
	</packageSources>
</configuration>