# Remove the line below if you want to inherit .editorconfig settings from higher directories
root = true

# C# files
[*.cs]

### Diagnostic configuration ####

dotnet_diagnostic.CA1000.severity = error
dotnet_diagnostic.CA1001.severity = error
dotnet_diagnostic.CA1004.severity = error
dotnet_diagnostic.CA1005.severity = error
dotnet_diagnostic.CA1006.severity = error
dotnet_diagnostic.CA1009.severity = error
dotnet_diagnostic.CA1012.severity = error
dotnet_diagnostic.CA1021.severity = error
dotnet_diagnostic.CA1023.severity = error
dotnet_diagnostic.CA1024.severity = error
dotnet_diagnostic.CA1025.severity = error
dotnet_diagnostic.CA1026.severity = error
dotnet_diagnostic.CA1028.severity = error
dotnet_diagnostic.CA1030.severity = error
dotnet_diagnostic.CA1032.severity = error
dotnet_diagnostic.CA1034.severity = error
dotnet_diagnostic.CA1035.severity = error
dotnet_diagnostic.CA1043.severity = error
dotnet_diagnostic.CA1045.severity = error
dotnet_diagnostic.CA1046.severity = error
dotnet_diagnostic.CA1047.severity = error
dotnet_diagnostic.CA1048.severity = error
dotnet_diagnostic.CA1049.severity = error
dotnet_diagnostic.CA1050.severity = error
dotnet_diagnostic.CA1051.severity = error
dotnet_diagnostic.CA1053.severity = error
dotnet_diagnostic.CA1054.severity = error
dotnet_diagnostic.CA1055.severity = error
dotnet_diagnostic.CA1056.severity = error
dotnet_diagnostic.CA1057.severity = error
dotnet_diagnostic.CA1061.severity = error
dotnet_diagnostic.CA1062.severity = error
dotnet_diagnostic.CA1063.severity = error
dotnet_diagnostic.CA1064.severity = error
dotnet_diagnostic.CA1065.severity = error
dotnet_diagnostic.CA1500.severity = error
dotnet_diagnostic.CA1501.severity = error
dotnet_diagnostic.CA1502.severity = error
dotnet_diagnostic.CA1504.severity = error
dotnet_diagnostic.CA1505.severity = error
dotnet_diagnostic.CA1506.severity = error
dotnet_diagnostic.CA1800.severity = error
dotnet_diagnostic.CA1801.severity = error
dotnet_diagnostic.CA1804.severity = error
dotnet_diagnostic.CA1806.severity = error
dotnet_diagnostic.CA1809.severity = error
dotnet_diagnostic.CA1810.severity = error
dotnet_diagnostic.CA1811.severity = error
dotnet_diagnostic.CA1812.severity = error
dotnet_diagnostic.CA1819.severity = error
dotnet_diagnostic.CA1821.severity = error
dotnet_diagnostic.CA1823.severity = error
dotnet_diagnostic.CA2000.severity = error
dotnet_diagnostic.CA2100.severity = error
dotnet_diagnostic.CA2102.severity = error
dotnet_diagnostic.CA2121.severity = error
dotnet_diagnostic.CA2200.severity = error
dotnet_diagnostic.CA2201.severity = error
dotnet_diagnostic.CA2202.severity = error
dotnet_diagnostic.CA2205.severity = error
dotnet_diagnostic.CA2207.severity = error
dotnet_diagnostic.CA2208.severity = error
dotnet_diagnostic.CA2213.severity = error
dotnet_diagnostic.CA2214.severity = error
dotnet_diagnostic.CA2215.severity = error
dotnet_diagnostic.CA2219.severity = error
dotnet_diagnostic.CA2222.severity = error
dotnet_diagnostic.CA2223.severity = error
dotnet_diagnostic.CA2230.severity = error
dotnet_diagnostic.CA2233.severity = error
dotnet_diagnostic.CA2234.severity = error
dotnet_diagnostic.CA2242.severity = error
dotnet_diagnostic.CA2243.severity = error