<?xml version="1.0" encoding="utf-8"?>

<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="VmMachineHwVersionUpdater.Properties.Settings"
               type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser"
               requirePermission="false" />
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2" />
  </startup>
  <appSettings>
    <!-- Windows 9x.  -->
    <add key="win31" value="Windows 3.1" />
    <add key="win95" value="Windows 95" />
    <add key="win98" value="Windows 98" />
    <add key="winnt" value="Windows NT" />
    <add key="winme" value="Windows ME" />
    <add key="win2000pro" value="Windows 2000 Professional" />
    <add key="win2000serv" value="Windows 2000 Server" />
    <add key="win2000advserv" value="Windows 2000 Advanced Server " />
    <!-- Windows XP. -->
    <add key="winxphome" value="Windows XP Home" />
    <add key="winxppro" value="Windows XP Professional" />
    <add key="winxppro-64" value="Windows XP Professional x64" />
    <add key="winnetstandard" value="Windows Server 2003 Standard" />
    <add key="winnetstandard-64" value="Windows Server 2003 Standard x64" />
    <add key="winnetenterprise" value="Windows Server 2003 Enterprise" />
    <add key="winnetenterprise-64" value="Windows Server 2003 Enterprise x64" />
    <add key="winnetbusiness" value="Windows Server 2003 Small Business " />
    <add key="winnetweb" value="Windows Server 2003 Web" />
    <!-- Windows Vista. -->
    <add key="winvista" value="Windows Vista" />
    <add key="winvista-64" value="Windows Vista x64" />
    <add key="longhorn" value="Windows Server 2008" />
    <add key="longhorn-64" value="Windows Server 2008 x64" />
    <!-- Windows 7. -->
    <add key="windows7" value="Windows 7" />
    <add key="windows7-64" value="Windows 7 x64" />
    <add key="windows7srv-64" value="Windows Server 2008 R2 x64" />
    <!-- Windows 8. -->
    <add key="windows8" value="Windows 8" />
    <add key="windows8-64" value="Windows 8 x64" />
    <add key="windows8srv-64" value="Windows Server 2012 x64" />
    <!-- Windows 10. -->
    <add key="windows9" value="Windows 10" />
    <add key="windows9-64" value="Windows 10 x64" />
    <add key="windows9srv-64" value="Windows Server 2016 x64" />
    <!-- Linux. -->
    <add key="otherlinux" value="Other Linux 2.2.x kernel" />
    <add key="otherlinux-64" value="Other Linux 2.2.x kernel x64" />
    <add key="other24xlinux" value="Other Linux 2.4.x kernel" />
    <add key="other24xlinux-64" value="Other Linux 2.4.x kernel x64" />
    <add key="other26xlinux" value="Other Linux 2.6.x kernel" />
    <add key="other26xlinux-64" value="Other Linux 2.6.x kernel x64" />
    <add key="other3xlinux" value="Other Linux 3.x kernel" />
    <add key="other3xlinux-64" value="Other Linux 3.x kernel x64" />
    <!-- Ubuntu. -->
    <add key="ubuntu" value="Ubuntu" />
    <add key="ubuntu-64" value="Ubuntu x64" />
    <!-- Fedora. -->
    <add key="fedora" value="Fedora" />
    <add key="fedora-64" value="Fedora x64" />
    <!-- OpenSuse. -->
    <add key="opensus" value="OpenSuse" />
    <add key="opensuse-64" value="OpenSuse x64" />
    <!-- CentOS. -->
    <add key="centos" value="Cent OS" />
    <add key="centos-64" value="Cent OS x64" />
    <!-- Debian. -->
    <add key="debian5" value="Debian 5" />
    <add key="debian5-64" value="Debian 5 x64" />
    <add key="debian6" value="Debian 6" />
    <add key="debian6-64" value="Debian 6 x64" />
    <add key="debian7" value="Debian 7" />
    <add key="debian7-64" value="Debian 7 x64" />
    <add key="debian8" value="Debian 8" />
    <add key="debian8-64" value="Debian 8 x64" />
    <!-- Mac. -->
    <add key="darwin" value="Mac OS X 10.5" />
    <add key="darwin-64" value="Mac OS X 10.5 x64" />
    <add key="darwin10" value="Mac OS X 10.6" />
    <add key="darwin10-64" value="Mac OS X 10.6 x64" />
    <add key="darwin11" value="Mac OS X 10.7" />
    <add key="darwin11-64" value="Mac OS X 10.7 x64" />
    <add key="darwin12" value="Mac OS X 10.8" />
    <add key="darwin12-64" value="Mac OS X 10.8 x64" />
    <add key="darwin13" value="Mac OS X 10.9" />
    <add key="darwin13-64" value="Mac OS X 10.9 x64" />
    <add key="darwin14" value="Mac OS X 10.10" />
    <add key="darwin14-64" value="Mac OS X 10.10 x64" />
    <add key="darwin15" value="Mac OS X 10.11" />
    <add key="darwin15-64" value="Mac OS X 10.11 x64" />
    <!-- FreeBDS -->
    <add key="freebsd" value="FreeBSD" />
    <add key="freebsd-64" value="FreeBSD x64" />
    <!-- Other. -->
    <add key="winhyperv" value="Hyper-V" />
    <add key="vmkernel6" value="VMware vSphere 6" />
  </appSettings>
  <userSettings>
    <VmMachineHwVersionUpdater.Properties.Settings>
      <setting name="VMwarePool" serializeAs="String">
        <value />
      </setting>
      <setting name="Accent" serializeAs="String">
        <value />
      </setting>
      <setting name="Theme" serializeAs="String">
        <value />
      </setting>
    </VmMachineHwVersionUpdater.Properties.Settings>
  </userSettings>
</configuration>